@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove x-direction scrolling and overlflow */
html {
    overflow-x: hidden;
    color: oklab(94.12% 0.009 -0.02);
}

#root {
    overflow: auto;
}

.hover-expand {
  transition: transform 0.2s ease-in-out;
}

.hover-expand:hover {
  transform: scale(1.07);
}

.rotate {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}